body {
    background-color: grey;
}

h1 {
    font-family: "Arial";
    text-align: center;
    font-size: 72pt;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#navigation {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid black;
}

li {
    display: inline;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
    border-radius: 5px;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: white;
}

p {
    font-size: 15px;
}

a.hover {
    text-decoration: underline;
    color: black;
}

div {
    border: 1px solid black;
}

#header {
    height: 10%;
    margin-bottom: 2%;
}

#Left-column {
    width: 30%;
    float: left;
    height: 50%;
}

#main-content {
    display: flex;
    flex-direction: column;
    width: 65%;
    float: right;
    height: 50%;
}

#footer {
    clear: both;
    margin-top: 50%;
    height: 6%;
}

#Scoial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    float: left;
    height: 60%;
}

#mailing {
    width: 65%;
    float: right;
    height: 60%;
}

.success {
    color: green;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}